SpeechRecognition>=3.10.0
PyAudio>=0.2.14
pyaudiowpatch>=0.2.12.8; sys_platform == 'win32'
colorama>=0.4.6
pyttsx3>=2.90
edge-tts>=6.1.0
mtranslate>=1.8
openai-whisper>=20231117
pydub>=0.25.1
torch>=2.0.0
